@font-face {
  font-family: 'Pixelfont';
  src: url('fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pixelfont', monospace;
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
}
header {
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
nav a.active {
  border-bottom: 2px solid #4f46e5;
  padding-bottom: 2px;
}
main {
  min-height: 70vh;
}
footer {
  background: #f1f5f9;
  text-align: center;
  padding: 1rem;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

/* Mobile nav */
nav {
  display: flex;
  gap: 1rem;
}

#menu-btn {
  display: none; /* hide on desktop */
}

#project-btn{
    margin-top: 40px;
}

@media (max-width: 768px) {
  nav {
    display: none;              /* hide links initially */
    flex-direction: column;     /* vertical layout */
    background: #ffffff;
    position: absolute;
    top: 60px;                  /* just below header */
    left: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  nav.open {
    display: flex; /* show when toggled */
  }

  #menu-btn {
    display: inline-block; /* show hamburger on mobile */
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
}